@{
    ViewData["Title"] = "トップページ";
}

<h1>トップページへようこそ！</h1>
<p>ここから社員情報などに移動できます。</p>
<a href="/Employee/Index" class="btn btn-primary">社員一覧を見る</a>

<br>
<br>
<br>

<a href="/Stations/Index" class="btn btn-primary">駅一覧を見る</a>

<br>
<br>
<br>

<a href="/Search/Index" class="btn btn-primary">新幹線検索画面へ</a>

